{% load static %}
<html>
<title>Model fit</title>
First select a frequency and check the available days
<br>
{{ msg }}
<br>
<body>
<p>
<form action="{% url "heatmap:fit" %}" method="post">
    {% csrf_token %}
    {{ form.as_table }}
<input type="submit" value="submit">
</p>
<p>
<br> <a href="{% url 'heatmap:index' %}"> Go back to home page  </a> </li> </br>
</p>
<script>
function refresh() {
     window.location.href="{% url "heatmap:fit" %}";
}
</script>


<p>
 {% if messages %}
        <img src="{% static "heatmap/images/fig2.png" %}" />
<textarea style=" background-color: lightblue" rows="5" cols="120">
    Root Mean Square error r2lab/log model : {{ c }}
    Root Mean Square error r2lab/hata model :  {{ d }}
</textarea>
{% endif %}
</p>

</body>
</html>