<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Upload an rssi file</title>
        {% load staticfiles %}
        <link href="{% static 'heatmap/css/dropzone.css' %}" type="text/css" rel="stylesheet"/>
    </head>
First Select the frequency of the RSS file you want to upload
    <body>
        <!-- IMPORTANT enctype attribute! -->
        <!-- one idea is to put onsubmit on the form, then block dislay frequency with an undo button that reloads the page -->
        <form  class="dropzone" action="{% url "heatmap:importer" %}" enctype="multipart/form-data"  method="post" >
            {% csrf_token %}
        {{ form2.as_table }}
    <input type="submit" value="finish" >

        <!-- <button id="submit-all"  >
            Submit all files
        </button>
        </form>
        <form  action="{% url "heatmap:importer"%}" method="get">
    {% csrf_token %}
    {{ form2.as_table }}
    <input type="submit" value="submit"> -->



        <script src="{% static 'heatmap/js/dropzone.js' %}"></script>
        <script type="text/javascript">
            Dropzone.options.myDropzone = {

                // Prevents Dropzone from uploading dropped files immediately
                autoProcessQueue : false,

                init : function() {
                    var submitButton = document.querySelector("#submit-all")
                    myDropzone = this;

                    submitButton.addEventListener("click", function() {
                        myDropzone.processQueue();
                        // Tell Dropzone to process all queued files.
                    });

                    // You might want to show the submit button only when
                    // files are dropped here:
                    this.on("addedfile", function() {
                        // Show submit button here and/or inform user to click it.
                    });

                }
            };
        </script>
    </body>
</html>