<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>experience 1</title>
</head>
<body>
<h4> Description:</h4> In this experiment we have considered the following variables:
<ul>
    <li> Transmission Power </li>
    <li> Physical rate </li>
    <li> Number of antennas used </li>
    <li> Distance </li>
</ul>
Every one of the above factors have been taken in a high and low value. For example, Tranmission power: [5,14] dBm. <br>
The design chosen is a full factorial one, which means that we run all the experiments. <br>
Nodes involved in the experiment: sender: {}   receiver:  {}  <br>
(image)
</body>
</html>