<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doe</title>
</head>
<body>
<h2>Welcome to the experience part of the application</h2>
The goal of the design of experiment is to know which variables are influent in a particular experiment.<br>
Our experiment consists in running pings and getting the signal strength in the receiver node. Thus is the question is which factors have a significant effect on the signal strength. <br>
Below are the various experiments done and the results got:<br>
<a href="{% url 'doe:exp1' %}"> experience 1  </a>
</body>
</html>